.new-task-details {
  .contents-below-header {
    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .name-input, .description-input {
    input, textarea {
      width: 100%;
    }
  }

  .due-date {
    > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .create-button {
    float: left;
  }

  .delete-button {
    float: right;
  }
}